[Unit]
Description=Fotball Live HTTP Server
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=%h/.cache/fotballtray/httpserver.py
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
